.filtro_gris{
    filter: grayscale(55%);
}
.filtro_gris_2{
    filter: grayscale(20%);
}
.filtro_sin_gris{
    filter: grayscale(0%);
}
.fondo_gradiente{
    background: linear-gradient(to top, #121211 10%, transparent 120%);
}
.aspecto{
    aspect-ratio: 1/1.3;
}
.aspecto_video{
    aspect-ratio: 16/9;
}
.espacio_scroll{
    scrollbar-gutter: stable;
}

::-webkit-scrollbar{
    height: 1px;
}
::-webkit-scrollbar-thumb{
    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}

.box_sha {
    outline: none; 
    box-shadow: 0 0 0 1px #ff4081; 
}
input:focus{
    outline:none;
}

.movimiento{
    animation: girar 5s linear infinite;
}

@keyframes girar {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}